<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
	<!--内侧读码器IP-->
	<add key="InsideCodeReader" value="10.64.52.34"/>
	<!--是否连接内侧读码器 1、连接  0 不连接-->
	<add key="InsideIsOpen" value="1"/>
	<!--内侧读码器超时时间-->
	<add key="InsideTimeOut" value="1000"/>
    <!--外侧读码器IP-->
	<add key="OutsideCodeReader" value="10.64.52.34"/>
   <!--是否连接内侧读码器 1、连接  0 不连接-->
	<add key="OutsideIsOpen" value="1"/>
	<!--内侧读码器超时时间-->
	<add key="OutsideTimeOut" value="1000"/>
</appSettings>
</configuration>